
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center text-light" style="margin-top:200px">
  <main role="main" class="inner cover">
     <h1 class="cover-heading">How can we help?</h1>
     <hr class="text-light">
     <p class="lead">Are you stuck? is your code not listening to you? or you're looking for reliable solution</p>
     <p class="lead">

       <%= link_to "Create free account", new_user_registration_path, class: "btn  btn-primary" %>
     </p>
   </main>
</div>
