<div class="container-fluid mt-5">

<div class="shadow-sm p-3 text-light bg-dark border-top-reviews">
    <div class="row">
      <div class="col-md-8">
        <h4><i class="far fa-list-alt"></i> Resources</h4>
      </div>
      <div class="col-md-4">
        <a href="/" class="float-right text-danger"> <i class="fa fa-window-close" data-toggle="tooltip" title="Close"> </i></a>
      </div>
    </div>
</div>

<div class="shadow-sm p-3 mb-5 bg-white">
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-6">

        <div class="welcome-card card shadow-sm p-3 border-top-reviews text-center mb-3 mt-3 ">
          <i class="fas fa-book-reader fa-3x"></i>
          <h3>Books</h3>
          <br>
          <a href="#" class="btn btn-sm btn-primary">View Books</a>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="welcome-card card shadow-sm p-3 border-top-reviews text-center mb-3 mt-3 ">
            <i class="fas fa-chalkboard-teacher fa-3x"></i>
            <h3>Interview Prep</h3>
            <br>
            <a href="https://drive.google.com/drive/folders/1t-4W5W55PNSxIC6qk9VHDxNMmh7VBByf?usp=sharing" class="btn btn-sm btn-primary" target="_blank">View Interview Preps</a>
            </div>

        </div>
    </div>
    </div>
    </div>
</div>
<hr>
<div class="shadow-sm p-3 text-light bg-dark">
    <div class="row">
      <div class="col-md-8">
        <h4><i class="fa fa-link"></i> Usefull links</h4>
      </div>
    </div>
</div>
<div class=" p-3 text-primary shadow-sm bg-light">
  <ul>
    <li><a href="https://www.programiz.com/">Programiz</a></li>
    <li><a href="https://www.ibm.com/za-en/analytics/machine-learning">Machine Learning</a></li>
    <li><a href="https://blog.hyperiondev.com/index.php/2018/11/13/top-5-beginner-friendly-open-source-projects-github/">Top 5 Beginner Friendly Open Source Projects Github</a></li>
    <li><a href="https://www.codingame.com/ide/puzzle/the-descent">Coding Games</a></li>
    <li><a href="http://www.java2s.com/">Programming Tutorials and Source Code Examples</a></li>
  </ul>
</div>
</div>
<br><br>
