<ul class="list-unstyled mb-3">
  <li class="mb-1"><i class="fas fa-envelope-square"></i> Felender7@gmail.com</li>
  <li class="mb-1"><i class="fab fa-discord"></i> Discord:Felender#3712 </li>
  <li class="mb-1"><a href="#"><i class="fab fa-whatsapp-square"></i> WhatsApp Group</a></li>
  <li class="mb-1"><i class="fas fa-phone-square-alt"></i> 081 407 5744</li>
</ul>
