<ul class="list-unstyled">
  <li><i class="fas fa-envelope-square"></i> Felender7@gmail.com</li>
  <li><i class="fab fa-discord"></i> Discord: </li>
  <li><a href="#"><i class="fab fa-whatsapp-square"></i> WhatsApp Group</a></li>
  <li><i class="fas fa-phone-square-alt"></i> 081 407 5744</li>
</ul>
